.page-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0 0 0;
  gap: 0.5rem;
  z-index: 3;
  background-color: var(--pure-white);
}

.page-header__img {
  max-width: 150px;
}

.page-header__h1 {
  background-color: var(--dark-azure);
  width: 100%;
  text-align: center;
  color: var(--pure-white);
  padding: 0.5rem 0;
}

.studentUI__menu.studentUI__button {
  z-index: 3;
  width: 50px;
  position: absolute;
  top: 56%;
  border-radius: 0px;
  left: 0;
  padding: 0.5rem;
  border: none;
  transition: transform 0.2s ease-out;
}

.studentUI__menu-icon {
  width: 100%;
}

.studentUI__menu--hide {
  transform: translateX(-100%);
}

.page-main {
  max-width: 1920px;
  flex: 1;
  width: 100%;
  background: linear-gradient(0deg, rgb(35, 205, 243) 0%, rgb(1, 79, 143) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}

.page-main--hide-scroll {
  -ms-overflow-style: none; /* hide scrollbar (IE/Edge) */
  scrollbar-width: none; /* hide scrollbar (Firefox) */
}
.page-main--hide-scroll::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome/Safari) */
}

@media (min-width: 600px) {
  .page-main {
    padding: 1rem;
  }
}

@media (min-width: 900px) {
  .page-main {
    padding: 0;
  }
}
