.studentUI__dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.studentUI__greeting {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-foreground);
  background-color: var(--color-secondary);
}

.studentUI__h2 {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: start;
  height: 100%;
  width: 100%;
}

.studentUI__panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .studentUI__dashboard {
    padding: 0rem;
  }

  .studentUI__panel {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .studentUI__dashboard {
    flex: 1;
    height: 100%;
    border-radius: 0;
    padding: 1rem;
  }

  .studentUI__h2 {
    border-radius: 15px;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .studentUI__greeting {
    padding: 0 1rem;
  }

  .studentUI__h2 {
    border-radius: 15px;
    padding: 1rem;
  }

  .studentUI__panel {
    padding: 1rem;
    gap: 2rem;
  }
}
