.studentUI__aside {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--pure-white);
  height: 100%;
  width: 250px;
  /* padding: 1rem; */
  transition: transform 0.2s ease-out;
  transform: translateX(-100%);
}

.studentUI__aside--show {
  transform: translateX(0);
}

.studentUI__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.studentUI__nav a {
  padding: 1rem;
  text-decoration: none;
  color: var(--dark-azure);
  border-radius: 4px;
}

.studentUI__nav a:hover {
  background-color: lightgray;
}

.studentUI {
  background-color: #d9d9d9;
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 12px;
}

.studentUI__greeting {
  width: 100%;
  border-radius: 4px;
}

.studentUI__h2 {
  text-align: start;
  color: var(--dark-azure);
  background-color: var(--pure-white);
  padding: 0.5rem;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.studentUI__dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.studentUI__section {
  padding: 0;
  background-color: transparent;
}

.studentUI__section h2 {
  text-align: start;
}

.studentUI__calendar,
.studentUI__events {
  width: 100%;
  height: 500px;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--pure-white);
}

@media (min-width: 600px) {
  .studentUI {
    padding: 1rem;
  }

  .studentUI__dashboard {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  .studentUI__calendar--shadow,
  .studentUI__events--shadow {
    box-shadow: 3px 3px 8px rgb(65, 65, 65), -3px -3px 8px lightgray;
  }

  .studentUI__aside {
    width: 200px;
    position: static;
    transform: translate(0);
  }

  .studentUI {
    flex: 1;
    height: 100%;
    border-radius: 0;
  }

  .studentUI__calendar,
  .studentUI__events {
    border-radius: 15px;
    padding: 1rem;
  }

  .studentUI__greeting {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .studentUI__h2 {
    border-radius: 15px;
    padding: 1rem;
  }

  .studentUI__dashboard {
    padding: 1rem;
    gap: 2rem;
  }
}
